:root {
    --main-bg-color: #f7f7f7;
    --border-color: #ddd;
    --text-color: #333;
    --header-color: #000;
    --section-title-color: #666;
    --section-border-color: #ccc;
    --skill-bg-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var(--text-color);
}

.theme2-resume {
    width: 210mm;
    height: 297mm;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: 20mm;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
}

.theme2-header {
    text-align: center;
    margin-bottom: 10mm;
    flex: 0 0 auto;
}

.theme2-header-title {
    margin: 0;
    font-size: 24px;
    color: var(--header-color);
}

.theme2-header-subtitle {
    font-size: 14px;
    color: var(--header-color);
}

.theme2-section {
    overflow: hidden;
    padding: 0 10px;
    box-sizing: border-box;
}

.theme2-section-small {
    flex: 1 1 10%;
    margin-bottom: 10px;
}

.theme2-section-large {
    flex: 2 1 20%;
    margin-bottom: 10px;
}

.theme2-section-title {
    margin: 0 0 5px;
    border-bottom: 1px solid var(--section-border-color);
    padding-bottom: 5px;
    font-size: 16px;
    color: var(--section-title-color);
}

.theme2-job, .theme2-school, .theme2-project {
    margin-bottom: 5px;
}

.theme2-job-title, .theme2-school-title, .theme2-project-title {
    margin: 0;
    font-size: 14px;
}

.theme2-skills-list, .theme2-certifications-list {
    list-style-type: none;
    padding: 0;
}

.theme2-skill-item, .theme2-certification-item {
    background-color: var(--skill-bg-color);
    display: inline-block;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
}
